<div class="p-3">
    <app-page-title pageTitle="View / Download Account Statement" [printPage]="true"></app-page-title>
    <div class="text-primary border border-secondary mt-3 p-2">
        Savings Account No.:
        <strong class="text-uppercase">1234567890, ITC Centre Anna Salai</strong>
    </div>
    <div class="d-flex p-2">
        <a href="javascript:void(0)" (click)="toggleFilter()">[Select Another Account/Period]</a>
        <div class="w-50"></div>
        <span class="text-secondary">Page 1 of 1</span>
    </div>
    <app-as-filter [@openClose]="isFilter ? true : false"></app-as-filter>
    <div id="componentID">
        <div class="d-flex justify-content-end p-2 mb-2">
            Closing Balance: <strong>INR 7.01</strong>
        </div>
        <table class="table table-bordered" cellpadding="10">
            <thead style="background-color: #e8fdff;">
                <tr>
                    <td width="15%">Date</td>
                    <td>Narration</td>
                    <td>Cheque/Ref. No.</td>
                    <td width="15%">Value Date</td>
                    <td>Withdrawal</td>
                    <td>Deposit</td>
                    <td>Closing Balance</td>
                </tr>
            </thead>
            <tbody class="text-center text-align-middle">
                <tr>
                    <td>21 May 2023</td>
                    <td>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam hic minus nulla doloremque
                        perspiciatis quam ipsum? Atque corrupti eos illo, sequi voluptates ab consequatur debitis
                        necessitatibus quisquam eveniet perspiciatis esse.
                    </td>
                    <td>68392987</td>
                    <td>21 May 2023</td>
                    <td>712.00</td>
                    <td></td>
                    <td>7.01</td>
                </tr>
                <tr>
                    <td>21 May 2023</td>
                    <td>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam hic minus nulla doloremque
                        perspiciatis quam ipsum? Atque corrupti eos illo, sequi voluptates ab consequatur debitis
                        necessitatibus quisquam eveniet perspiciatis esse.
                    </td>
                    <td>8792467</td>
                    <td>21 May 2023</td>
                    <td>35.00</td>
                    <td></td>
                    <td>719.01</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>