<form (ngSubmit)="handleSubmit()" [formGroup]="ruFormStep1" autocomplete="off">
    <p style="background-color: #e8fdff; padding: 10px">
        To retrive your Customer ID, please enter your Mobile Number and the below details
    </p>
    <table class="table">
        <tr class="border">
            <td width="35%">Mobile Number</td>
            <td class="form-group">
                <input
                    type="tel"
                    name="mobileNumber"
                    formControlName="mobileNumber"
                    class="form-control"
                    maxlength="12"
                    appMobileNumber
                >
                <div *ngIf="!ruFormStep1.get('mobileNumber').valid && (ruFormStep1.get('mobileNumber').touched || ruFormStep1.get('mobileNumber').dirty)">
                    <small class="text-danger" *ngIf="ruFormStep1.get('mobileNumber')?.errors['required']">
                        Mobile Number is required
                    </small>
                    <small class="text-danger" *ngIf="ruFormStep1.get('mobileNumber')?.errors['invalid']">
                        Invalid Mobile Number
                    </small>
                    <small class="text-danger" *ngIf="ruFormStep1.get('mobileNumber')?.errors['countryCode']">
                        {{ruFormStep1.get('mobileNumber')?.errors['input']}} country code is not allowed
                    </small>
                </div>
            </td>
            <td>(All customers are requested to also enter the country code)</td>
        </tr>
        <tr class="border" colspan="3">
            <th>
                <small class="p-0">Please Enter your Date of Birth / Pan Details / Both</small>
            </th>
        </tr>
        <tr class="border">
            <td>Date of Birth</td>
            <td class="form-group">
                <input
                    type="date"
                    name="dob"
                    formControlName="dob"
                    class="form-control"
                    [max]="currentDate"
                >
                <div *ngIf="!ruFormStep1.get('dob').valid && (ruFormStep1.get('dob').touched || ruFormStep1.get('dob').dirty)">
                    <small class="text-danger" *ngIf="ruFormStep1.get('dob')?.errors['required']">
                        Date of Birth is required
                    </small>
                </div>
            </td>
            <td></td>
        </tr>
        <tr class="border">
            <td>Pan Card Number</td>
            <td class="form-group">
                <input
                    type="text"
                    name="panNumber"
                    formControlName="panNumber"
                    class="form-control"
                >
                <div *ngIf="!ruFormStep1.get('panNumber').valid && (ruFormStep1.get('panNumber').touched || ruFormStep1.get('panNumber').dirty)">
                    <small class="text-danger" *ngIf="ruFormStep1.get('panNumber')?.errors['required']">
                        Pan Card Number is required
                    </small>
                    <small class="text-danger" *ngIf="ruFormStep1.get('panNumber')?.errors['pattern']">
                        Invalid Pan Card Number
                    </small>
                </div>
            </td>
            <td></td>
        </tr>
        <tr>
            <td colspan="3">
                <app-captcha [isSubmitted]="isSubmitted" (captchaValidation)="handleCaptchaError($event)"></app-captcha>
            </td>
        </tr>
    </table>
    <div class="card-footer text-muted text-center">
        <button 
            type="submit"
            class="btn btn-sm btn-info"
            [disabled]="!ruFormStep1.valid"
        >
        Continue
        </button>
    </div>
</form>