<app-page-title pageTitle="Select Transaction Type"></app-page-title>
<div id="componentID">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 p-2" *ngFor="let data of listData">
            <ng-template #customWrapperTemplate>
                <a href="javascript:void(0)" class="title">{{data.title}}</a>
                <ul *ngIf="data.notes">
                    <li *ngFor="let note of data.notes">({{note}})</li>
                </ul>
                <a href="javascript:void(0)" class="demo">View Demo</a>
                <div class="border-top py-2">
                    <button typ="button" class="btn btn-sm btn-outline-secondary">
                        <span class="px-2">Go</span>
                    </button>
                </div>
            </ng-template>
            <app-card [img]="data.img" [htmlTemplate]="customWrapperTemplate"></app-card>
        </div>
    </div>
</div>