.title {
    font-size: 14px;
    text-decoration: underline;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    min-height: 40px;
    max-height: max-content;
}

ul li {
    font-size: 11px;
}

.demo {
    font-size: 12px;
    font-weight: bold;
    text-decoration: underline;
}