<app-page-title pageTitle="Account Summary" [printPage]="true"></app-page-title>
<div id="componentID">
    <table class="border" cellpadding="5">
        <thead>
            <tr>
                <td class="text-start" colspan="3">Savings Account</td>
                <td class="text-end" colspan="2">
                    Total Available Balance: INR 7.01
                    <span (click)="checkAccountDetail()" class="btn btn-sm">
                        <i class="fa fs-4" [class]="arrowCls"></i>
                    </span>
                </td>
            </tr>
        </thead>
        <tbody [@openClose]="isOpen ? true : false">
            <tr>
                <td class="text-secondary">Account No.</td>
                <td class="text-secondary">Branch</td>
                <td class="text-secondary">Name</td>
                <td class="text-secondary">Available Balance</td>
                <td class="align-middle" rowspan="2">
                    <button type="button" class="btn btn-sm btn-outline-primary" (click)="viewAccountStatement()">
                        View
                    </button>
                </td>
            </tr>
            <tr>
                <td class="text-primary">1234567890</td>
                <td class="text-uppercase">ITC Center Anna Salai</td>
                <td class="text-uppercase">John Doe</td>
                <td class="text-primary">INR 7.01</td>
            </tr>
        </tbody>
    </table>
    <div class="container-fluid p-2">
        <strong>Note:</strong>
        <ul>
            <li>
                The Available Balance displayed includes the credit balance and overdraft limit (if any) in your
                account.
                <ol type="i">
                    <li>It does not include Uncleared Funds.</li>
                    <li>It includes amount amount marked for hold.</li>
                </ol>
            </li>
            <li>
                The Hold Balance may also include pending service changes due to be recovered from your account.
            </li>
            <li>
                Savings account customers can now receive their statements monthly by email for free. To register - <a
                    routerLink="">Click here</a>
            </li>
            <li>
                What's New ! Now recharge your Prepaid Mobile and DTH connections through BillPay & Recharge! <a
                    routerLink="">Click here</a> to know more.
            </li>
            <li>
                Please <a routerLink="">Click here</a> to check your PAN Card details.
            </li>
        </ul>
    </div>
</div>