<div class="row mb-3">
    <div class="col-8">
        <h5 class="fst-italic">{{pageTitle}}</h5>
    </div>
    <div class="col-4 text-end" *ngIf="printPage">
        <app-print-page></app-print-page>
    </div>
</div>