<p>
    <strong>
        To reset your NetBanking IPIN (password), please enter your User ID / Customer ID(Customer Identification
        Number) in the box provided below and click "Go"
    </strong>
</p>
<div class="d-flex justify-content-center">
    <form (ngSubmit)="handleSubmit()" [formGroup]="rpFormStep1" autocomplete="off">
        <table cellpadding="10">
            <tr>
                <th>User ID / Customer ID</th>
                <td class="form-group">
                    <input
                        type="text"
                        name="customerId"
                        formControlName="customerId"
                        class="form-control"
                        appCustomerId
                    >
                    <div *ngIf="!rpFormStep1.get('customerId').valid && (rpFormStep1.get('customerId').touched || rpFormStep1.get('customerId').dirty)">
                        <small class="text-danger" *ngIf="rpFormStep1.get('customerId')?.errors['required']">
                            Customer ID/User ID is required
                        </small>
                    </div>
                </td>
            </tr>
            <tr class="text-center">
                <td colspan="2">
                    <button type="submit" class="btn btn-secondary" [disabled]="!rpFormStep1.valid">Go</button>
                </td>
            </tr>
        </table>
    </form>
</div>