<div class="sidebar">
    <div class="sidebar-content">
        <div *ngIf="sidemenus">
            <div *ngFor="let menuTitle of Object.keys(sidemenus); let i=index">
                <div class="menu-title text-white p-1">
                    <span class="fw-bold">{{menuTitle}}</span>
                </div>
                <ng-container *ngIf="sidemenus[menuTitle]">
                    <div *ngFor="let sidemenu of sidemenus[menuTitle]; let j=index;">
                        <div class="menu" *ngIf="sidemenu && !sidemenu.items else hasSubMenu">
                            <a [routerLink]="sidemenu.url" class="menu-link p-2" routerLinkActive="active">
                                {{sidemenu.title}}
                            </a>
                        </div>
                        <ng-template #hasSubMenu>
                            <div class="menu row p-2" (click)="toggleSubMenu(i+''+j)" style="cursor:pointer;">
                                <a href="javascript:void(0)" class="col-10 menu-link">
                                    {{sidemenu.title}}
                                </a>
                                <i class="fa fa-caret-right fs-6 m-icon col-2" [id]="'icon'+i+j"></i>
                            </div>
                            <ul class="submenu" [id]="'sm'+i+j" [ngStyle]="{display: 'none'}">
                                <li *ngFor="let item of sidemenu.items" class="p-2">
                                    <a [routerLink]="item.url" class="submenu-link" routerLinkActive="active">{{item.subtitle}}</a>
                                </li>
                            </ul>
                        </ng-template>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>