.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 100px;
    left: 0;
    z-index: 1;
    background-color: #ffffff;
    border-right: 1px solid #e3e3e3;
    box-shadow: 3px 0 30px -2px #e3e3e3;
}

.sidebar-content {
    height: 475px;
    overflow-x: hidden;
    overflow-y: auto;
}

.sidebar .sidebar-content .menu-title {
    background-image: linear-gradient(to right, #0041a1, #8cbced);
}

.sidebar-content::-webkit-scrollbar {
    width: 7px;
}

.sidebar-content::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #a5a5a5;
}

.sidebar-content::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.sidebar a {
    text-decoration: none;
    display: block;
    color: #000000;
}

.menu {
    background-color: #b6e8fd;
    border-bottom: 1px solid #213bbd;
    font-size: 13px;
}

.menu i {
    color: #04047e;
}

.menu .menu-link.active {
    background-color: #ffffff;
    color: #213bbd;
}

.submenu {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    font-size: 11px;
    background-color: #e8fdff;
}

.submenu li {
    border-bottom: 1px solid #ddd9d9;
}

.menu:hover, .submenu li:hover {
    background-color: #ffffff;
}

.menu .menu-link:hover, .submenu .submenu-link:hover {
    color: #213bbd;
}