<div id="componentID">
    <div class="border">
        <ul type="none">
            <li>
                No Demat Account have been mapped to your account.
            </li>
            <li>
                <a routerLink="">Apply Online</a> for Demo Bank Demat Account
            </li>
            <li>
                <a routerLink="">Know More</a> on Demo Bank Demat Account
            </li>
            <li>
                <a routerLink="">*Click here</a> for detailed Tariff
            </li>
        </ul>
    </div>
</div>