<div style="background-color: #e8fdff; padding: 10px">
    <strong>Please note:</strong>
    <ol>
        <li>
            There will be multiple attempts made to deliver the OTP (One Time Password) successfully to you.
        </li>
        <li>
            For customers having an indian mobile number registered with the bank, if the above attempts are unsuccessful, an IVR will be initiated in your registered mobile number.
        </li>
        <li>
            For J&K customers, OTP will be sent only through IVR(Integrated Voice Recognition).
        </li>
    </ol>
    <p>Please re-initiate the transaction, incase you do not receive the same.</p>
    <p>Please input the OTP sent to your registered Mobile Number.</p>
    <form (ngSubmit)="handleSubmit()" [formGroup]="rpFormStep4" autocomplete="off">
        <table cellpadding="10">
            <tr>
                <th class="text-primary">OTP (One Time Password)</th>
                <td class="form-group">
                    <input
                        type="number"
                        name="otp"
                        formControlName="otp"
                        class="form-control"
                    >
                    <div *ngIf="!rpFormStep4.get('otp').valid && (rpFormStep4.get('otp').touched || rpFormStep4.get('otp').dirty)">
                        <small class="text-danger" *ngIf="rpFormStep4.get('otp')?.errors['required']">
                            One Time Password(OTP) is required
                        </small>
                        <small class="text-danger" *ngIf="rpFormStep4.get('otp')?.errors['min'] || rpFormStep4.get('otp')?.errors['max']">
                            One Time Password(OTP) must have 4 digits
                        </small>
                    </div>
                </td>
                <td>
                    <button
                        type="button"
                        class="btn btn-link"
                        (click)="resendOtp()"
                        [disabled]="otpBtnDisabled"
                    >
                    Resend OTP
                    </button>
                </td>
                <td>
                    <span *ngIf="timer">({{timer}}s left to resend OTP)</span>
                </td>
            </tr>
        </table>
        <p>
            <strong>
                Your One Time Password is confidential. Please do not share it with anyone via email, phone or any other medium.
            </strong>
        </p>
        <div class="text-center mt-3">
            <button type="submit" class="btn btn-secondary" [disabled]="!rpFormStep4.valid">Continue</button>
        </div>
    </form>
</div>