.card {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom right, #ffffff, #d9f9ff);
    cursor: pointer;
}

.card:hover {
    transform: scale(1.03);
    box-shadow: 3px 3px 10px 3px #e3e3e3;
}

.card img {
    width: 50px;
    height: auto;
}

.card-body {
    padding: 5px;
}