<div class="card">
    <div *ngIf="img" class="d-flex justify-content-center my-2">
        <img [src]="'assets/'+img" class="card-img-top">
    </div>
    <div class="card-body">
        <div *ngIf="htmlTemplate" class="text-center">
            <ng-container *ngTemplateOutlet="htmlTemplate"></ng-container>
        </div>
    </div>
</div>