<app-page-title pageTitle="Account Summary" [printPage]="true"></app-page-title>
<div id="componentID">
    <table class="border" cellpadding="5">
        <thead>
            <tr class="bg-primary text-white">
                <td class="text-start">Credit Card Account</td>
                <td class="text-end"></td>
            </tr>
            <tr>
                <td class="text-start">Active Credit Cards</td>
                <td class="text-end">
                    Total Unbilled Amount: INR 0.00
                    <span (click)="checkAccountDetail()" class="btn btn-sm">
                        <i class="fa fs-4" [class]="arrowCls"></i>
                    </span>
                </td>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
    <p class="mt-2">
        <strong>
            Unable to recall your Credit Card PIN? Reset your PIN instantly. <a routerLink="">Click here to view
                Demo</a>
        </strong>
    </p>
    <div class="container-fluid p-2">
        <strong>Note:</strong>
        <ul>
            <li>
                *Statement balance refers to Total Outstanding as per Last Bill.
            </li>
            <li>
                **Negative value indicates credit balance.
            </li>
            <li>
                This is only snapshot and cannot be treated as a statement. Please refer to your statement for
                transaction and payments details pertaining to your Credit Card.
            </li>
        </ul>
    </div>
</div>