.captcha-body .captcha {
    font-family: Lucida Handwriting;
    background-image: url('../../../assets/captcha-bg.jfif');
    border: 1px solid #000;
    font-size: 30px;
    width: 155px;
    height: auto;
    text-align: center;
}

.captcha-body input[type="text"] {
    width: 155px;
}