<div class="captcha-body">
    <div class="row mb-3">
        <div class="col-lg-4 col-md-4 col-sm-4">
            <label>Security Check</label>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6">
            <div class="mx-3 captcha">{{captchaCode}}</div>
        </div>
        <div class="col-lg-6 col-md-2 col-sm-2">
            <button type="button" class="btn btn-sm" title="Refresh Captcha Code" (click)="getCaptcha('click')">
                <i class="fa fa-refresh"></i>
            </button>
            <button type="button" class="btn btn-sm" title="Voice Captcha" (click)="getVoiceCaptcha()">
                <i class="fa fa-volume-up"></i>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <label>Enter the text shown above</label>
        </div>
        <div class="col">
            <input 
                type="text"
                name="captchaInput"
                [(ngModel)]="captchaInput"
                id="captchaInput"
                class="mx-3"
                (input)="validate()"
            >
            <small class="text-danger" *ngIf="hasError && isSubmitted">Captcha does not matched</small>
        </div>
    </div>
</div>