<div class="row">
    <div class="col-lg-6 div col-md-6 col-sm-12">
        <div class="mx-5">
            <h4>Login to NetBanking</h4>
            <form (ngSubmit)="handleLogin()" autocomplete="off" class="my-5" #loginForm="ngForm">
                <div class="form-group mb-3">
                    <label class="form-label">
                        Customer ID/User ID
                        &nbsp;
                        <a href="javascript:void(0)" [class]="display2" title="Edit Cusomer ID/User ID" (click)="modifyCustomerId()">
                            <i class="fa fa-pencil"></i>
                        </a>
                    </label>
                    <input 
                        type="text"
                        name="customerId"
                        [(ngModel)]="model.customerId"
                        #customerId="ngModel"
                        class="form-control"
                        [readonly]="customerIdReadOnly"
                        appCustomerId
                        required
                    >
                    <div *ngIf="!customerId.valid && (customerId.touched || customerId.dirty)">
                        <small class="text-danger" *ngIf="customerId.errors?.['required']">
                          Customer ID/User ID field is required
                        </small>
                    </div>
                    <span [class]="display1">
                        <a href="javascript:void(0)" (click)="toForgotCustomerId()">Forgot Customer ID</a>
                    </span>
                </div>
                <div class="form-group mb-3" [class]="display2">
                    <label class="form-label">Password/IPIN</label>
                    <input
                        type="password"
                        name="password"
                        [(ngModel)]="model.password"
                        #password="ngModel"
                        class="form-control"
                        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,15}$"
                        required
                    >
                    <div *ngIf="!password.valid && (password.touched || password.dirty)">
                        <small class="text-danger" *ngIf="password.errors?.['required']">
                            Password field is required
                        </small>
                        <small class="text-danger" *ngIf="password.errors?.['pattern']">
                            Password is invalid (Accepts 8-15 characters, at least 1 uppercase letter, 1 lowercase letter & 1 number)
                        </small>
                    </div>
                    <span>
                        <a href="javascript:void(0)" (click)="toForgotPassword()">Forgot Password / IPIN</a>
                    </span>
                    <div>
                        <small>IPIN(Password) is case sensitive</small>
                    </div>
                </div>
                <div class="d-grid gap-2">
                    <button type="button" class="btn btn-primary text-uppercase" [class]="display1"
                        (click)="continue()" [disabled]="!customerId.valid">
                        continue
                    </button>
                    <button type="submit" class="btn btn-primary text-uppercase" [class]="display2" [disabled]="!loginForm.valid">
                        login
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-lg-6 div col-md-6 col-sm-12">
        <div class="d-flex justify-content-center">
            <img src="assets/logo.png">
        </div>
        <h1 class="text-center">Welcome to <span class="logo-text">Demo Bank</span></h1>
    </div>
</div>