<app-page-title pageTitle="Loan Summary" [printPage]="true"></app-page-title>
<div id="componentID">
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>Loan Account No.</td>
                <td>Loan Amount</td>
                <td>Tenure</td>
                <td>EMI</td>
                <td>Status</td>
                <td>Product</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>123456789</td>
                <td>100000.00</td>
                <td>60</td>
                <td>21494.00</td>
                <td>Closed</td>
                <td>Personal Loan</td>
            </tr>
            <tr>
                <td>123456789</td>
                <td>100000.00</td>
                <td>60</td>
                <td>21494.00</td>
                <td>Active</td>
                <td>Personal Loan</td>
            </tr>
        </tbody>
    </table>
    <p class="border">
        For Matured / Forclosed Accounts: Only Accounts matured / foreclosed in last 6 months will be displayed
    </p>
    <div class="container-fluid p-2">
        <strong>Note:</strong>
        <ul>
            <li>
                To pay outstanding EMI on your loan account, please click here <a routerLink="">Click here</a>
            </li>
            <li>
                <a routerLink="">Service Charges and Fees</a>
            </li>
        </ul>
    </div>
</div>