<div id="error">
    <img src="assets/404-error.png" class="mx-auto d-block" alt="404 page not found">
    <div class="text-center">
        <a href="javascript:void(0)" class="btn btn-lg btn-danger" (click)="goBack()">
            <i class="fa fa-go-back"></i>Go Back
        </a>
    </div>
</div>