<div style="background-color: #e8fdff; padding: 10px">
    <p>
        You will receive an OTP (One Time Password) on the mobile number registered with the Bank.
    </p>
    <form (ngSubmit)="handleSubmit()" [formGroup]="rpFormStep3" autocomplete="off">
        <table cellpadding="10">
            <tr>
                <th class="text-primary">
                    Please enter the mobile number registered with the Bank
                </th>
                <td class="form-group">
                    <input 
                        type="tel"
                        name="mobileNumber"
                        formControlName="mobileNumber"
                        class="form-control"
                        maxlength="12"
                        appMobileNumber
                    >
                    <div *ngIf="!rpFormStep3.get('mobileNumber').valid && (rpFormStep3.get('mobileNumber').touched || rpFormStep3.get('mobileNumber').dirty)">
                        <small class="text-danger" *ngIf="rpFormStep3.get('mobileNumber')?.errors['required']">
                            Mobile Number is required
                        </small>
                        <small class="text-danger" *ngIf="rpFormStep3.get('mobileNumber')?.errors['invalid']">
                            Invalid Mobile Number
                        </small>
                        <small class="text-danger" *ngIf="rpFormStep3.get('mobileNumber')?.errors['countryCode']">
                            {{rpFormStep3.get('mobileNumber')?.errors['input']}} country code is not allowed
                        </small>
                    </div>
                </td>
            </tr>
        </table>
        <p>
            For overseas customers: Please prefix country code with mobile number. Do not enter any special character(+,- etc).
        </p>
        <p>
            <strong>
                Your One Time Password is confidential. Please do not share it with anyone via email, phone or any other medium.
            </strong>
        </p>
        <div class="text-center mt-3">
            <button type="submit" class="btn btn-secondary" [disabled]="!rpFormStep3.valid">Continue</button>
        </div>
    </form>
</div>