<form (ngSubmit)="handleSubmit()" [formGroup]="ruFormStep2" autocomplete="off">
    <p style="background-color: #e8fdff; padding: 10px">
        To retrive your Customer ID, please enter the One Time Password(OTP) sent to your Mobile Number
    </p>
    <table class="table">
        <tr class="border">
            <td></td>
            <td></td>
            <td width="200px">One Time Password</td>
            <td class="form-group" width="350px">
                <input
                    type="number"
                    name="otp"
                    formControlName="otp"
                    class="form-control"
                >
                <div *ngIf="!ruFormStep2.get('otp').valid && (ruFormStep2.get('otp').touched || ruFormStep2.get('otp').dirty)">
                    <small class="text-danger" *ngIf="ruFormStep2.get('otp')?.errors['required']">
                        One Time Password(OTP) is required
                    </small>
                    <small class="text-danger" *ngIf="ruFormStep2.get('otp')?.errors['min'] || ruFormStep2.get('otp')?.errors['max']">
                        One Time Password(OTP) must have 4 digits
                    </small>
                </div>
            </td>
            <td>
                <button
                    type="button"
                    class="btn btn-link"
                    (click)="resendOtp()"
                    [disabled]="otpBtnDisabled"
                >
                Resend OTP
                </button>
            </td>
            <td>
                <span *ngIf="timer">({{timer}}s left to resend OTP)</span>
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr class="border">
            <td colspan="8">
                Your One Time Password (OTP) is confidencial. Please do not share it with anyone via email, phone  or any other medium.
            </td>
        </tr>
    </table>
    <div style="background-color: #e8fdff; padding: 10px">
        <strong>Please note:</strong>
        <ol>
            <li>
                There will be multiple attempts made to deliver the OTP (One Time Password) successfully to you.
            </li>
            <li>
                For customers having an indian mobile number registered with the bank, if the above attempts are unsuccessful, an IVR will be initiated in your registered mobile number.
            </li>
            <li>
                For J&K customers, OTP will be sent only through IVR(Integrated Voice Recognition).
            </li>
        </ol>
    </div>
    <div class="card-footer text-muted text-center">
        <button 
            type="submit"
            class="btn btn-sm btn-info"
            [disabled]="!ruFormStep2.valid"
        >
        Continue
        </button>
    </div>
</form>