<div id="page-container">
  <div id="content-wrap">
    <app-loading-progressbar [percentage]="p"></app-loading-progressbar>
    <app-header [hasDashboard]="hasDashboard"></app-header>
    <div class="container my-5">
      <router-outlet></router-outlet>
      <app-spinner></app-spinner>
    </div>
    <app-footer></app-footer>
  </div>
</div>