<div id="myModal" class="modal">
    <div class="modal-content animate">
        <div *ngIf="htmlTemplate">
            <ng-container [ngTemplateOutlet]="htmlTemplate"></ng-container>
        </div>
    </div>
</div>