<div id="componentID">
    <div class="border p-2">
        <p>
            In case you are not registered for Online Mutual Fund A/C and you wish to register, please follow the below path. <br>
            Request --> Open Mutual Fund (ISA) Account.
        </p>
        <p>
            Only Resident Demo Bank Account Holders underIndividual category can apply for ISA. ISA shall be opened under single holding pattern only in first holder's name.
        </p>
    </div>
    <div class="row mt-2">
        <div class="col-12">
            <img src="assets/mf-banner.jpg">
        </div>
    </div>
</div>