<div class="container-fluid p-2">
    <h5>A/c Statement Current & Previous Month</h5>
    <form (ngSubmit)="handleFilter()" [formGroup]="statementFilterForm" autocomplete="off">
        <table class="table border border-2 table-bordered table-striped-columns" cellpadding="5">
            <tr>
                <td>Accout Type</td>
                <td colspan="2">
                    <div class="form-group">
                        <select class="form-select" name="accountType" formControlName="accountType">
                            <option value="">- Select Type of Account -</option>
                            <option value="savings">Savings Account</option>
                            <option value="current">Current Account</option>
                            <option value="ppf">PPF Account</option>
                        </select>
                        <div *ngIf="!statementFilterForm.get('accountType').valid && (statementFilterForm.get('accountType').touched || statementFilterForm.get('accountType').dirty)">
                            <small class="text-danger" *ngIf="statementFilterForm.get('accountType')?.errors['required']">
                                Account Type is required
                            </small>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Accout Number</td>
                <td colspan="2">
                    <div class="form-group">
                        <select class="form-select" name="accountNo" formControlName="accountNo">
                            <option value="">- Select An Account -</option>
                            <option value="1234567890">Savings - 1234567890</option>
                        </select>
                        <div *ngIf="!statementFilterForm.get('accountNo').valid && (statementFilterForm.get('accountNo').touched || statementFilterForm.get('accountNo').dirty)">
                            <small class="text-danger" *ngIf="statementFilterForm.get('accountNo')?.errors['required']">
                                Account Type is required
                            </small>
                        </div>
                    </div>
                </td>
            </tr>
            <ng-container formGroupName="period">
                <tr>
                    <td>
                        <div class="form-check mx-3">
                            <input type="radio" name="statementType" formControlName="statementType" class="form-check-input" value="mini" (change)="togglePeriod()">
                            <label class="form-check-label">Mini Statement</label>
                        </div>
                    </td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td>
                        <div class="form-check mx-3">
                            <input type="radio" name="statementType" formControlName="statementType" class="form-check-input" value="custom" (change)="togglePeriod()">
                            <label class="form-check-label">Select Period</label>
                        </div>
                    </td>
                    <td>From</td>
                    <td>
                        <div class="form-group">
                            <input type="date" name="fromDate" formControlName="fromDate" class="form-control" [readOnly]="periodReadOnly">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>To</td>
                    <td>
                        <div class="form-group">
                            <input type="date" name="toDate" formControlName="toDate" class="form-control" [readOnly]="periodReadOnly">
                        </div>
                    </td>
                </tr>
            </ng-container>
            <tr formGroupName="viewType">
                <td>Show Transactions</td>
                <td>
                    <div class="form-group">
                        <label class="form-label invisible">transaction</label>
                        <select name="count" formControlName="count" class="form-select mb-2">
                            <option value="all">All Transactions</option>
                            <option value="50">Last 50</option>
                            <option value="100">Last 100</option>
                        </select>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label class="form-label">Per Page</label>
                        <select name="page" formControlName="page" class="form-select">
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                        </select>
                    </div>
                </td>
            </tr>
            <tr >
                <td colspan="3">
                    <div class="text-center">
                        <button type="submit" class="btn btn-success" [disabled]="!statementFilterForm.valid">View</button>
                    </div>
                </td>
            </tr>
        </table>
    </form>
</div>