<strong>
    Please select any card from the below listed Demo Bank Debit card(s) which is linked to your User ID / Customer ID
</strong>
<div class="d-flex justify-content-center my-3">
    <table class="text-center" border="1" cellPadding="5">
        <tr class="bg-info">
            <th>Card No.</th>
        </tr>
        <tr>
            <td>
                <a href="javascript:void(0)">{{1234567890123456 | mask:5:12}}</a>
            </td>
        </tr>
    </table>
</div>
<h5 class="text-primary">Set your new NetBanking password (IPIN)</h5>
<p>
    <strong>
        Enter the information requested below. The information will be used to confirm your identity.
    </strong>
</p>
<div style="background-color: #e8fdff; padding: 10px">
    <form (ngSubmit)="handleSubmit()" [formGroup]="rpFormStep5" autocomplete="off">
        <table class="table" cellpadding="10">
            <tr>
                <td>Card No.</td>
                <td colspan="2">
                    <input
                        type="text"
                        class="form-control"
                        disabled
                        value="{{1234567890123456 | mask:5:12}}"
                        [disabled]="true"
                    >
                    <input
                        type="hidden"
                        name="cardNumber"
                        formControlName="cardNumber"
                    >
                </td>
            </tr>
            <tr>
                <td>ATM PIN of the above card</td>
                <td class="form-group" colspan="2">
                    <input
                        type="password"
                        name="atmPin"
                        formControlName="atmPin"
                        class="form-control"
                        maxlength="4"
                    >
                    <div *ngIf="!rpFormStep5.get('atmPin').valid && (rpFormStep5.get('atmPin').touched || rpFormStep5.get('atmPin').dirty)">
                        <small class="text-danger" *ngIf="rpFormStep5.get('atmPin')?.errors['required']">
                            ATM PIN is required
                        </small>
                        <small class="text-danger" *ngIf="rpFormStep5.get('atmPin')?.errors['pattern']">
                            ATM PIN accepts only 4 digits
                        </small>
                    </div>
                </td>
            </tr>
            <tr formGroupName="expiryDate" class="form-group">
                <td>Card Expiry Date</td>
                <td>
                    MM
                    <select name="month" formControlName="month" class="form-select">
                        <option value="">-Select-</option>
                        <option *ngFor="let day of days" [value]="day">{{day}}</option>
                    </select>
                    <div *ngIf="!rpFormStep5.get('expiryDate').get('month').valid && (rpFormStep5.get('expiryDate').get('month').touched || rpFormStep5.get('expiryDate').get('month').dirty)">
                        <small class="text-danger" *ngIf="rpFormStep5.get('expiryDate').get('month')?.errors['required']">
                            Month is required
                        </small>
                    </div>
                </td>
                <td>
                    YYYY
                    <select name="year" formControlName="year" class="form-select">
                        <option value="">-Select-</option>
                        <option *ngFor="let year of years" [value]="year">{{year}}</option>
                    </select>
                    <div *ngIf="!rpFormStep5.get('expiryDate').get('year').valid && (rpFormStep5.get('expiryDate').get('year').touched || rpFormStep5.get('expiryDate').get('year').dirty)">
                        <small class="text-danger" *ngIf="rpFormStep5.get('expiryDate').get('year')?.errors['required']">
                            Year is required
                        </small>
                    </div>
                </td>
            </tr>
        </table>
        <strong>Note:</strong>
        <ul>
            <li>
                The new IPIN should be different from previous 3 IPINs with minimum 8 and maximum 15 characters.
            </li>
            <li>
                The IPIN should be Alpha-Numeric in nature i.e. a mix of alphabets, numbers and special characters except (' "" % +)
            </li>
        </ul>
        <table class="table" cellpadding="10" formGroupName="ipin">
            <tr>
                <td>New IPIN (password)</td>
                <td class="form-group">
                    <input
                        type="password"
                        name="password"
                        formControlName="password"
                        class="form-control"
                    >
                    <div *ngIf="!rpFormStep5.get('ipin').get('password').valid && (rpFormStep5.get('ipin').get('password').touched || rpFormStep5.get('ipin').get('password').dirty)">
                        <small class="text-danger" *ngIf="rpFormStep5.get('ipin').get('password')?.errors['required']">
                            Password is required
                        </small>
                        <small class="text-danger" *ngIf="rpFormStep5.get('ipin').get('password')?.errors['pattern']">
                            Password is invalid
                        </small>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Confirm New IPIN (password)</td>
                <td class="form-group">
                    <input
                        type="password"
                        name="confirmPassword"
                        formControlName="confirmPassword"
                        class="form-control"
                    >
                    <div *ngIf="rpFormStep5.get('ipin').hasError('missMatch')">
                        <small class="text-danger">
                            Password & confirm Password do not match
                        </small>
                    </div>
                </td>
            </tr>
        </table>
        <div class="form-check">
            <input
                type="checkbox"
                name="tNc"
                formControlName="tNc"
            >
            <label class="form-check-label mx-2">
              <a routerLink="#">I accept Terms & Conditions</a>
            </label>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-secondary" [disabled]="!rpFormStep5.valid">Confirm</button>
        </div>
    </form>
</div>