<nav class="navbar shadow" *ngIf="!hasDashboard else dashboardNav">
  <div class="container-fluid d-flex justify-content-center">
    <a routerLink="" class="navbar-brand">
      <img src="assets/logo.png" alt="Logo" width="50" height="50"
        class="d-inline-block align-text-center rounded-circle border border-secondary">
      <span class="mx-2">Demo Bank</span>
    </a>
  </div>
</nav>
<ng-template #dashboardNav>
  <app-topnav [navmenus]="navmenus"></app-topnav>
  <app-sidenav [sidemenus]="sidemenus"></app-sidenav>
</ng-template>