<app-page-title pageTitle="BillPay & Recharge"></app-page-title>
<div id="componentID">
    <strong>
        We have upgraded our BillPay & Recharge platform to offer you an enhanced experience.
        <a routerLink="">View Demo</a>
    </strong>
    <div class="border p-2 mx-2">
        <p>
            Over this new BillPay, you can now make online payments to over 260 billers across various
            categories including:
        </p>
        <ul>
            <li>Electricity Bills</li>
            <li>Telephone and Mobile Bills</li>
            <li>Prepaid DTH/Mobile Connection/Data Card Recharge</li>
            <li>Gas Bills</li>
            <li>Mutual Funds</li>
            <li>Insurance Premiums</li>
            <li>Subscrptions</li>
            <li>Contribution to Charities</li>
        </ul>
        <p>
            Add billers and pay your bills through the enhanced BillPay service, powered by BillDesk
        </p>
    </div>
    <p>
        Please note your BillPay session will open in a new window while your NetBanking session here continues to remain
        active. Kindly ensure to also log out from your active NetBanking session here once you have existed the new
        enhanced BillPay module.<br>
        Click on <q>Continue</q> to experience the new enhanced BillPay.
    </p>
    <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-primary">Continue</button>
    </div>
</div>