<nav class="topnav">
    <div class="row">
        <div class="col-2 align-text-bottom" style="padding-right:0">
            <strong class="mx-2 fw-bold text-white">Demo Bank</strong>
        </div>
        <div class="col welcome-message">
            <b>Welcome, {{welcomeData.firstName | titlecase}} {{welcomeData.lastName | titlecase}}</b><br>
            Last Login: {{welcomeData.lastLoginTime || "N/A"}}
        </div>
        <div class="col text-end pt-1">
            <small><a [routerLink]="['dashboard','change-password']">Change Password</a></small>&nbsp;
            <small><a [routerLink]="['dashboard','profile-details']">Profile Details</a></small>&nbsp;
            <small>
                <button type="button" class="btn btn-sm logout" (click)="toggleLogoutPopup()">
                    <i class="fa fa-sign-out"></i> Logout
                </button>
            </small>&nbsp;
        </div>
    </div>
    <div class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <img src="assets/logo.png" alt="Logo" width="50" height="50" class="d-inline-block align-text-center rounded-circle">
            <div class="invisible">
                <span class="mx-4">Demo Banking</span>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="navmenus">
                    <li class="nav-item" *ngFor="let navmenu of navmenus">
                        <a [routerLink]="navmenu.url" routerLinkActive="active" class="nav-link">
                            {{navmenu.title}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<ng-template #logoutPopupTemplate>
    <div class="text-center">
        <p class="my-2">Are you sure want to Logout?</p>
        <button type="button" class="btn btn-danger mx-2" (click)="toggleLogoutPopup()">No</button>
        <button type="button" class="btn btn-success" (click)="handleLogout('click')">Yes</button>
    </div>
</ng-template>
<app-popup *ngIf="logoutPopup" [htmlTemplate]="logoutPopupTemplate"></app-popup>