.topnav {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    background-image: linear-gradient(to bottom right, #4eaaf1, #8adbf9, #b5d9e6,#b9e1ff, #d3eff9);
}

.welcome-message {
    position: relative;
    left: 0;
    font-size: 12px;
    padding: 0;
    color: #0041a1;
}

.topnav a {
    font-weight: bold;
    font-size: 14px;
    color: #0041a1;
}

.topnav a.nav-link.active,
.topnav a.nav-link:hover,
.logout {
    color: #ffffff;
    background-color: #0041a1;
    border-radius: 5px;
}

.topnav .navbar {
    margin: 0;
    padding: 0px 0px 13px 0px;
}