<app-page-title pageTitle="Insurance"></app-page-title>
<div id="componentID">
    <div class="row">
        <div class="col" *ngFor="let data of listData">
            <ng-template #cardWrapperTemplate>
                <a href="javascript:void(0)" class="title">
                    <small>{{data.title}}</small>
                </a>
            </ng-template>
            <app-card [img]="data.img" [htmlTemplate]="cardWrapperTemplate"></app-card>
        </div>
    </div>
</div>
<ng-template #popupWrapperTemplate>
    <div class="text-center">
        Do you have Demo Bank staff servicing/assisting you?
        <form (ngSubmit)="handleDecision(decisionForm.value)" #decisionForm="ngForm">
            <div class="my-3">
                <input type="radio" name="decision" ngModel value="yes" required>Yes
                &nbsp;&nbsp;&nbsp;
                <input type="radio" name="decision" ngModel value="no" required [checked]="true">No
            </div>
            <button type="submit" class="btn btn-danger rounded" [disabled]="!decisionForm.valid">Submit</button>
        </form>
    </div>
</ng-template>
<app-popup *ngIf="response" [htmlTemplate]="popupWrapperTemplate"></app-popup>