<h5 class="text-primary px-2" style="border-top: 1px solid #d3d3d3">Retrive Customer ID - Complete</h5>
<div style="background-color: #e8fdff; padding: 10px">
    <p>Congratulations! Your Customer ID / User ID has been successfully retrieved.</p>
    <p>
        Your Customer ID <strong id="customerId">1234567890</strong>
        <button type="button" class="btn btn-sm btn-outline-primary mx-2" title="Copy" (click)="copyCustomerId('1234567890')">
            <i class="fa fa-copy"></i>
        </button>
    </p>
    <p>
        We recommend that you Login to NetBanking using your Customer ID. <a href="javascript:void(0)" (click)="goToLogin()">Click here</a> to login now.
    </p>
</div>