body {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

input[type="number"] {
    appearance: textfield;
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 10px #9a9a9a;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: -webkit-linear-gradient(#ff9100,#ffffff, #006900);
    -webkit-box-shadow: inset 0 0 6px #5a5a5ab3;
}

.logo-text {
    font-weight: bold;
    background: -webkit-linear-gradient(#ff9100,#ffffff, #006900);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.form-group .ng-invalid,
.form-group .ng-touched {
    border-color: #dc3545;
}

.form-group .ng-untouched {
    border-color: #ced4da;
}

.form-group .ng-valid {
    border-color: #198754;
}

input[type="text"]:read-only,
input[type="date"]:read-only {
    background-color: #e9ecef;
    cursor: not-allowed;
}