<h5 class="text-primary px-2" style="border-top: 1px solid #d3d3d3">Change Password - Complete</h5>
<div style="background-color: #e8fdff; padding: 10px">
    <p>Congratulations! IPIN has been successfully reset.</p>
    <p>
        We recommend that you Login to NetBanking using your newly set IPIN. <a href="javascript:void(0)" (click)="goToLogin()">Click here</a> to login now.
    </p>
</div>