<p>Regenerate your IPIN(NetBanking Password Online)</p>
<p>
    User ID / Customer ID : <span class="text-primary">1234567890</span>
    <input type="hidden">
</p>
<p>
    Please select one of the two mediums for authentication, to regenerate your IPIN(NetBanking Password)
</p>
<form (ngSubmit)="handleSubmit()" [formGroup]="rpFormStep2" autocomplete="off">
    <div class="form-check">
        <input
            type="radio"
            class="form-check-input"
            name="authOption"
            formControlName="authOption"
            value="auth1"
        >
        <label class="form-check-label">
            Authentication with One Time Password (OTP) sent on your registered Mobile No., and your Debit Card details.
        </label>
    </div>
    <div class="form-check">
        <input
            type="radio"
            class="form-check-input"
            name="authOption"
            formControlName="authOption"
            value="auth2"
        >
        <label class="form-check-label">
            Authentication with One Time Password (OTPs) sent on your registered Mobile No., and Email ID.
        </label>
    </div>
    <div *ngIf="!rpFormStep2.get('authOption').valid && (rpFormStep2.get('authOption').touched || rpFormStep2.get('authOption').dirty)">
        <small class="text-danger" *ngIf="rpFormStep2.get('authOption')?.errors['required']">
            Customer ID/User ID is required
        </small>
    </div>
    <div class="my-5 d-block">
        <p class="fw-bold">
            To reset your NetBanking IPIN, please enter the Security Check text in the box provided below and click <q>Continue</q>
        </p>
        <app-captcha [isSubmitted]="isSubmitted" (captchaValidation)="handleCaptchaError($event)"></app-captcha>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-secondary" [disabled]="!rpFormStep2.valid">Continue</button>
    </div>
</form>