.form-header {
    gap: 5px;
    text-align: center;
    font-size: .9em;
}

.form-header .stepIndicator {
    position: relative;
    flex: 1;
    padding-bottom: 30px;
}

.form-header .stepIndicator.active {
    font-weight: 600;
    color: #4824ff;
}

.form-header .stepIndicator.finish {
    font-weight: 600;
    color: #007f33;
}

.form-header .stepIndicator::before {
    content: "";
    color: #ffffff;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    z-index: 9;
    width: 20px;
    height: 20px;
    background-color: #7a7a7a;
    border-radius: 50%;
}

.form-header .stepIndicator.active::before {
    background-color: #4824ff; 
}

.form-header .stepIndicator.finish::before {
    background-color: #007f33;
}

.form-header .stepIndicator::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 8px;
    width: 100%;
    height: 3px;
    background-color: #a5a4a4;
}

.form-header .stepIndicator.active::after {
    background-color: #a4a2a2;
}

.form-header .stepIndicator.finish::after {
    background-color: #009688;
}

.form-header .stepIndicator:last-child:after {
    display: none;
}