<div class="card">
    <div class="card-header text-center bg-info text-white text-align-middle">
        <h5>Retrieve Customer ID</h5>
    </div>
    <div class="card-body">
        <div class="form-header d-flex mb-4">
            <span class="stepIndicator text-uppercase" [class]="progressArray[0]">enter details</span>
            <span class="stepIndicator text-uppercase" [class]="progressArray[1]">authentication</span>
            <span class="stepIndicator text-uppercase" [class]="progressArray[2]">complete</span>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>